section.title
  h1 Learn Spanish For Free

section.banner
  | Banner

section.links
  - array = ['home', 'learn to read now', 'basic course', 'intermediate course', 'advanced course']
  - array.map do |link|
    .link= link_to link, '#', class: 'main_link'











/.ui.menu
/  a.active.item
/    i.home.icon
/    | Home
/  a.item
/    i.mail.icon
/    | Messages
/  .right.menu
/    .item
/      .ui.icon.input
/        input placeholder="Search..." type="text"
/          i.search.link.icon
