section.banner
  = image_tag('DSC00823.JPG')
  h1.ui.header Learn Spanish For Free

section.title







/nav.ui.menu
/  h3.header.item Learn Spanish for Free
/  a.item
/    i.home.icon
/    | Home
/  a.item
/    i.mail.icon
/    | Lessons
/  .right.menu
/    .item
/      .ui.icon.input
/        input placeholder="Search..." type="text"
/          /i.search.link.icon
